{% extends 'ToDoListHome.html' %}


{% block title %} {% endblock %}

{% block todo %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="test-primary"> Update A Todo</h4>
            </div>

            <form action="{% url 'update' todo.id %}" method="post">
        <div class="modal-body">
            <textarea name="todo" class="txtodo" id="txtodo" required="required">{{ todo.todo }}</textarea>
            <fieldset>
                <label class="radio-inline" for="priority">
                    <span class="label label-info">Priority</span>
                </label>
                <label class="radio-inline" for="priority">
                    <input type="radio" name="priority" value="1" {% if todo.priority == '1' %} checked{% endif %}/>
                    <span class="label label-danger">High</span>
                </label>
                <label class="radio-inline" for="priority">
                    <input type="radio" name="priority" value="2" {% if todo.priority == '2' %} checked{% endif %}/>
                    <span class="label label-warning">Medium</span>
                </label>
                <label class="radio-inline" for="priority">
                    <input type="radio" name="priority" value="3" {% if todo.priority == '3' %} checked{% endif %}/>
                    <span class="label label-success">Low</span>
                </label>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn"  data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="send" class="btn btn-success" type="submit" name="submit" >Save</button>
        </div>
        </form>
            </div>
        </div>
{% endblock %}

